body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}

header {
    width: 90%;
    margin: auto;
}

h1 {
    font-size: 0.7em;
}

nav {
    text-align: right;
    padding: 30px 0px 30px 30px;
    margin-bottom: 25px;
}

nav a {
    color: #0065FC;
    font-weight: 480;
    font-size: 0.9em;
    margin: 75px;
    margin-bottom: 50px;
    margin-right: 0px;
}

#logo {
    float: left;
    height: 50px;
    width: auto;
    position: relative;
    bottom: 20px;
    right: 30px;
    padding: 0px;
}

#filter-title {
    display: inline-block;
    margin: 20px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 14px;
    color: black;
    padding-left: 0px;
}

.filter-category {
    border-radius: 35px;
    text-align: center;
    border: 1px solid RGB(220, 220, 220);
    padding-right: 1em;
    margin: 15px;
    display: inline-block;
    margin: 20px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 12px;
    color: black;
    padding-left: 0px;

}

h1 {
    font-size: 26px;
    margin-bottom: 0px;
}

.subtitle {
    font-size: 18px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 30%;
}

input:focus {
    outline: none;
}

input {
    font-weight: bold;
    font-family: Raleway, Arial;
    font-size: 0.88em;
    text-align: left;
    padding-left: 20px;
    border: 1px solid whitesmoke;
    width: 70%;
}

.button-full-screen {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color: #F3F6F9;
    font-weight:bold;
    font-size: 1em;
    width: 28%;
    border: none;
}

.fa-search {
    display: none;
}

button:hover {
    background-color: #3579D6;
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
}

button:focus {
    outline: none;
}

button:active {
    outline: none;
    border: 0px;
}

.filters {
    padding-left: 0;
}

.filters a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.filters i {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    font-size: 16px;
    padding: 10px;
    margin-right: 0.5em;
}

.filter-category {
    border-radius: 35px;
    text-align: center;
    border: 1px solid RGB(220, 220, 220);
    padding-right: 1em;
    margin: 15px;
}

.filter-category:hover {
    background-color: whitesmoke;
}

#info-search {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

.info-item {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#number-of-acc {
    font-size: 0.8em;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.combined {
    display: flex;
    justify-content: space-around;
    width: 92%;
    margin: auto;
    flex-wrap: wrap-reverse;
}

.stars {
    color: #0065FC;
    background-color: white;
    font-size: 0.6em;
    width: 60%;
    margin-left: 1.5em;
}

.stars-popular {
    color: #0065FC;
    background-color: white;
    font-size: 0.6em;
    width: fit-content;
    display: inline-block;
}

.section-title {
    margin-top: 1.4em;
    margin-bottom: 1;
    font-size: 1.2em;
    margin-left: 1.2em;
}


.act-heading {
    width: 90%;
    margin-top: 3em;
    margin-bottom: 1.5em;
    font-size: 1.2em;
    margin-left: 3.5em;
}

.most-popular h2 {
    font-size: 1.2em;
    margin: auto;
    margin-bottom: 1.8em;
    margin-top: 2.5em;
    min-width: 75%;
    width: 80%;
    box-sizing: border-box;
}

.accommodations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 0 1em;
    width: 60%;
    flex-wrap: wrap;
    margin-right: 1.8em;
}

.rooms {
    display: flex;
    justify-content: space-around;
}

.room-view {
    width: 29%;
    height: 10.5em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.figure:hover {
    filter: brightness(95%);
    color: black;
}

.popular:hover {
    filter: brightness(95%);
    color: black;
}

.img-search {
    height: 6em;
    width: 95%;
    margin: auto;
    margin-bottom: 0;
    padding: 5px;
    padding-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.caption {
    padding-left: 15px;
    font-size: 14px;
    margin: 0;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
}

.price {
    font-weight: normal;
    font-size: 12px;
    padding-left: 15px;
    margin: 0;
    margin-bottom: 0.5em;
}

#show-more {
    font-size: 14px;
    margin-bottom: 0.9em;
    margin: 2em;
    margin-left: 1em;
    width: fit-content;
}

.most-popular {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 32%;
}

 a {
    color: black;
    font-weight: bold;
    text-decoration: none;
 }

a:hover {
    color: #717778;
}

.caption-pop {
    padding-left: 15px;
    font-size: 14px;
    margin-bottom: 0.5em;
}

.price-pop {
    font-weight: normal;
    font-size: 12px;
    padding-left: 15px;
    margin: 0;
    margin-bottom: 0.5em;
}

span {
    font-weight: bold;
}


.popular {
    background-color: white;
    border-radius: 20px;
    height: 8em;
    width: 80%;
    margin-left: 2.5em;
    margin-bottom: 1.8em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-popular {
    height: 7.6em;
    padding-top: 3px;
    padding-right: 10px;
    margin-right: 20px;
    padding-left: 3px;
    padding-bottom: 2px;
    margin: auto;
    float: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.picture {
    width: 100%;
    height: 8em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.img-tall {
    height: 23em;
}

footer {
    background-color: whitesmoke;
    width: 100%;
}

.footer-main {
    display: flex;
}

.footer-section {
    padding: 10px 10px;
    margin: 0px auto;
    width: 15em;
}

.footer-section p {
    width: fit-content;
}

.footer-heading {
    font-size: 1.1em;
}

.footer-link {
    color: black;
    font-weight: 480;
    font-size: 0.8em;
}

.fa-map-marker-alt {
    font-size: 1.3em;
    color: black;
    background-color: whitesmoke;
    padding: 15px;
    padding-left: 18px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 7%;
}


.fa-info {
    color: #0065FC;
    border-radius: 50%;
    border: 1px solid #D7DCE3;
    width: 5px;
    height: 5px;
    padding: 7px;
}

.fa-chart-line {
    margin-bottom: auto;
    font-size: 1.1em;
    text-align: right;
    margin-left: 10.5rem;
}

.activities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-bottom: 4em;
}

.picture-tall {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    margin: 1.5em;
    margin-left: 0;
    width: 23%;
    margin-top: 0;
    margin-bottom: 0;
}

.picture.img-short {
    display: none;
}

#picture-b {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    margin-right: 3em;
    width: 23%;
    margin-top: 0;
    margin-bottom: 0;
}

#picture-d {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    margin-right: 0;
    width: 23%;
    margin-top: 0;
    margin-bottom: 0;
}

.img-pomegues {
    height: 11em;
}

.img-frioul {
    height: 6em;
}

.activities a {
    color: black;
    font-weight: bold;
    text-decoration: none;

}

.activities a:hover {
    color: #717778;
}

.activities p {
    padding-left: 1em;
}

#a {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    margin-bottom: 2.6em;
}

#b {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#c {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2.6em;
}

#d {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



@media screen and (max-device-width: 480px) {
    
    body {
        width: 100%;
    }

    header {
        display: block;
        width: 100%;
        margin: auto;
    }

    .searchbar {
        width: 100%;
        margin: auto;
    }

    .nav-menu {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin-bottom: 3em;
    }

    .main-heading {
        width: 85%;
        margin: auto;
    }

    .subtitle {
        width: 85%;
        margin: 1.2em auto;
        margin-bottom: 2em;
        font-size: 0.85em;
    }

    .searchbar {
        width: 92%;
        margin: auto;
        margin-left: 1.5em;
    }

    .button-full-screen {
        border-radius: 15px;
        background-color: #0065FC;
        color: #F3F6F9;
        font-weight: bold;
        font-size: 1em;
        width: 17%;
        border: none;
        position: relative;
        right: 1em;
    }

    .button-full-screen span {
        display: none;
    }
    
    .fa-search {
        display: initial;
    }

    .nav-link {
        margin: 0;
    }

    #logo {
        position: absolute;
        top: 1em;
        left: 2em;
    }

    #horizontal {
        position: absolute;
        top: 7em;
        right: 12.5em;
        padding-bottom: 0.5em;
        border-bottom: 3px solid #0065FC;
        width: 14em;
        margin: 0;
        text-align: center;
        
    }

    #horizontal2 {
        position: absolute;
        top: 7em;
        right: 0em;
        padding-bottom: 0.5em;
        border-bottom: 3px solid lightgray;
        width: 12.5em;
        margin: 0;
        text-align: center;
        color: black;
    }

    .fa-info {
        color: #0065FC;
        border-radius: 50%;
        border: 1px solid #D7DCE3;
        width: 5px;
        height: 5px;
        padding: 8px;
        padding-bottom: 6px;
        position: relative;
        top: 1.5em;
        left: 1.2em;
    }

    #info-text {
        margin-left: 15px;
        width: 80%;
        margin: auto;
        margin-bottom: 1em;
    }


    #filter-title {
        display: block;
        font-weight: bold;
        font-size: 14px;
        color: black;
        text-align: center;
    }
    

    .filters {
        width: 90%;
        margin: auto;
    }

    .button-text {
        display: none;
    }

    .filter-category {
        border-radius: 35px;
        text-align: center;
        border: 1px solid RGB(220, 220, 220);
        padding-right: 1em;
        margin: 15px auto;
        width: fit-content;
        display: block;
        font-weight: bold;
        text-align: center;
        font-size: 12px;
        color: black;
        padding-left: 0px;
    
    }

    #info-search {
        padding-bottom: 1em;
        font-size: 0.8em;
        margin: auto;
    }


    .combined {
        width: 100%;
    }

    .accommodations {
        width: 100%;
        margin: 0;
        background-color: white;
    }    

    .section-title {
        font-size: 1.2em;
        width: 90%;
        margin: 1em auto;
        text-align: center
    }

    .most-popular h2 {
        font-size: 1.2em;
        text-align: left;
        margin-top: 2.5em;
        margin-left: 2em;
        width: 90%;
    }

    .most-popular {
        width: 100%;
        margin: 0;
        padding-bottom: 2em;
        margin-bottom: 1em;
        border-radius: 0;
    }

    .stars-popular {
        color: #0065FC;
        background-color: white;
        font-size: 0.6em;
        width: fit-content;
        margin: auto;
    }

    .fa-chart-line {
        font-size: 1.1em;
        right: 2em;
        position: absolute;
    }

    .popular {
        width: 80%;
        margin-top: 0;
        margin: auto;
        margin-bottom: 1em;
    }

    .rooms {
        flex-direction: column;
        width: 90%;
        margin: auto;
        box-sizing: border-box;
    }

    .room-view {
        width: 98%;
        margin-bottom: 1em;
        display: block;
        height: 13em;
    }

    .img-search {
        width: 97%;
        height: 8em;
        margin: auto;
    }

    .caption {
        padding-left: 15px;
        font-size: 14px;
        margin: 0;
        margin-top: 0.2em;
        margin-bottom: 0.3em;
    }
    
    .price {
        font-weight: normal;
        font-size: 12px;
        padding-left: 15px;
        margin: 0;
        margin-bottom: 0.5em;
    }
    
    #show-more {
        font-size: 14px;
        margin-bottom: 0.9em;
        margin: 2em;
        margin-left: 1em;
    }

    .act-heading {
        font-size: 1.2em;
        width: 90%;
        margin: 1em auto;
        
        text-align: center
    }

    .activities {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .img-tall {
        display: none;
    }

    .picture.img-short {
        height: 8.5em;
        display: initial;
    }

    .picture-tall {
        width: 90%;
        margin: auto;
        margin-bottom: 1em;
    }

    #picture-b {
        width: 90%;
        margin: auto;
        margin-bottom: 1em;
    }
    
    
    #picture-d {
        width: 90%;
        margin: auto;
        margin-bottom: 3em;
    }

    .picture.img-pomegues {
        height: 8.5em;
    }

    .picture.img-frioul {
        height: 8.5em;
    }

    #a {
        margin-bottom: 1em;
    }

    #b {
        margin-bottom: 0;
    }

    #c {
        margin-bottom: 1em
    }

    #d {
        margin-bottom: 0;
    }


    footer {
        height: 32em;
    }

    .footer-main {
        flex-direction: column;
    }

    .footer-section {
        width: 80%;
        align-content: left;
    }
}


@media screen and (min-width: 1400px) {
    header {
        width: 70%;
    }

    .combined {
        width: 70%;
    }

    footer {
        height: 17em;
    }

    .act-main {
        width: 76%;
        margin: auto;
    }

    .footer-main {
        width: 80%;
        margin: auto;
    }

    .fa-chart-line {
        position: absolute;
        right: 16.5em;
    }
}


@media screen and (min-width: 480px) and (max-width: 1080px) {

    body {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    .main-heading {
        width: 80%;
        margin: 1em auto;
    }

    .subtitle {
        width: 80%;
        margin: 1em auto;
    }

    .nav-link {
        display: block;
        margin: 0;
    }

    header {
        display: block;
        width: 80%;
        margin: auto;
    }

    .searchbar {
        width: 80%;
        margin: auto;
    }

    .fa-info {
        color: #0065FC;
        border-radius: 50%;
        border: 1px solid #D7DCE3;
        width: 5px;
        height: 5px;
        padding: 5px;
        padding-bottom: 6px;
        position: relative;
        top: 3em;
    }

    #info-text {
        margin-left: 15px;
    }


    #filter-title {
        display: block;
        font-weight: bold;
        font-size: 12px;
        color: black;
        padding-left: 0px;
        text-align: center;
    }
    

    .filter-category {
        border-radius: 35px;
        text-align: center;
        border: 1px solid RGB(220, 220, 220);
        padding-right: 1em;
        margin: 15px auto;
        width: fit-content;
        display: block;
        font-weight: bold;
        text-align: center;
        font-size: 12px;
        color: black;
        padding-left: 0px;
    
    }

    .combined {
        width: 100%;
    }

    .accommodations {
        width: 100%;
        margin: auto;
        margin: 0;
    }    

    .most-popular {
        width: 100%;
        margin: 0;
        margin-bottom: 3em;
        border-radius: 0;
    }


    .popular {
        width: 90%;
        max-width: 23em;
        min-width: 21em;
        margin: auto;
        margin-bottom: 1em;
    }

    #blanc-hotel {
        margin-bottom: 3em;
    }

    .rooms {
        flex-direction: column;
        width: 90%;
        max-width: 28em;
        margin: 0px auto;
    }

    .room-view {
        width: 90%;
        max-width: 25em;
        margin-top: 0em;
        height: 15em;
        display: block;
        margin: 1em auto;
    }

    .caption {
        padding-left: 15px;
        font-size: 14px;
        margin: 0;
        margin-top: 0.2em;
        margin-bottom: 0.3em;
    }
    
    .price {
        font-weight: normal;
        font-size: 12px;
        padding-left: 15px;
        margin: 0;
        margin-bottom: 0.5em;
    }
    
    #show-more {
        font-size: 14px;
        margin-bottom: 0.9em;
        margin: 2em auto;
    }

    .activities {
        flex-direction: column;
        margin: auto;
        width: 90%;
        max-width: 30em;
    }

    .picture-tall {
        width: 90%;
        margin: auto;
        margin-bottom: 2em;
    }

    #picture-b {
        width: 90%;
        margin: auto;
        margin-bottom: 0;
        margin-bottom: 2em;
    }
    
    #picture-d {
        width: 90%;
        margin: auto;
        margin-bottom:
    }

    #a {
        margin-bottom: 2em;
    }

    #b {
        margin-bottom: 0;
    }

    #c {
        margin-bottom: 2em;
    }

    #d {
        margin-bottom: 0;
    }

    footer {
        margin-top: 3em;

    }

    .footer-main {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    
    .footer-section {
        padding: 0;
        margin: auto;
    }

    .img-search {
        height: 10em;
        width: 97.5%;
        margin: auto;
        margin-bottom: 0;
        padding-bottom: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }


    .stars-popular {
        color: #0065FC;
        background-color: white;
        font-size: 0.6em;
        min-width: 4em;
        margin: auto;
    }

    .nav-link {
        color: #0065FC;
        font-weight: 480;
        font-size: 0.9em;
        margin: 10px 30px;
        display: block;
    }

    .most-popular h2 {
        font-size: 1.2em;
        text-align: left;
        margin-top: 2.5em;
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }
    
    .fa-chart-line {
        margin-left: 10em;
        font-size: 1.1em;
    }

    #info-search {
        margin: 0;
        padding: 0;
        font-size: 0.8em;
        width: 80%;
        margin: auto;
    }

    .info-item {
        margin: 0;
        padding: 0;
        display: block;
    }

    
     .act-heading {
        font-size: 1.2em;
        margin-top: 2.5em;
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }

    .section-title {
        font-size: 1.2em;
        margin-bottom: 0;
        width: 90%;
        margin: auto;
        text-align: center
    }

    .act-main {
        width: 92%;
        margin: auto;
        max-width: 28em;
    }
    
}